@use 'colores';
.cards
{   
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
    gap: 3rem;
    grid-auto-flow:column wrap;
    margin:1rem;
    justify-content: center;
    justify-items: center;
}
.card-estruc
{
    max-width: 29rem;
    width: 100%;
    padding: 15px;
    background-color: colores.$colores-bgtres;
    border-radius: 12px;
    box-shadow: 9px 7px 30px 0px rgba(0,0,0,0.6);

    h3
    {
        text-align: center;
        font-size: 25px;
        color: colores.$colorescateg;
    }
    img
    {
        width: 100%;
        padding: 10p
    }
    p
    {
        font-family: Calibri;
        font-size:25px;
        text-align: justify;
        padding: 5px 15px 5px 15px;
        
    }
}