$colores-header-uno:#3b3544;
$colores-header-dos:#495065;
$colores-bg:#c6c0d0;
$colores-bg-dos:#ebe8f0;
$colores-bgtres:#d8d5d5;
$colores-nav:#363636;
$colores-nav-uno:#d8d5d5;
$colores-bordes:#5f2222;
$colores-h1:#3d3a3a;
$colorescateg:#8e2525;
$colores-back-perfil:#854c4c;