@use 'colores';
.main
{

    grid-area: main;
    display: grid;
    grid-template-areas:
    "image"
    "title"
    "vacuno"
    "embutidos"
    "cerdo"
    "pollo";
    gap: 2rem;
    background-color: colores.$colores-superficie;   

    .imagen-principal
    {
        grid-area: image;
        width: 100%;
        height: auto;
        display: flex;
    }

    .titulopr 
    {
    grid-area: title;
    width: min(100% - 3rem, 1280px);
    margin: 0 auto;
    padding: 5rem 0;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid colores.$colores-borde ;
    .seccion
    {
    max-width: 720px;
    margin-bottom: 3rem;
    }
    h2 
    {
    margin-top: 0.55rem;
    color: colores.$colores-texto;
    font-size: 4rem;
    } 
    
    .p
    {
    max-width: 620px;
    margin-top: 1.5rem;
    color: colores.$colores-texto-suave;
    font-size: 1rem;
    }
    }
        
    .vacuno 
    {
        grid-area: vacuno;
        padding: 0 1rem;

        .textos 
        {
        max-width: 800px;
        margin: 0 auto;
        padding: 1.5rem;
        background-color: colores.$colores-superficie;
        border-radius: 20px;
        }

        h2 
        {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        color: colores.$colores-texto;
        }

        p 
        {
        margin: 1rem 0 0;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;

        padding-bottom: 1rem;
        border-bottom: 1px solid colores.$colores-borde;
        }
    }

    .embutidos
    {
        grid-area: embutidos;
        padding: 0 1rem;

        .textos 
        {
        max-width: 800px;
        margin: 0 auto;
        padding: 1.5rem;
        background-color: colores.$colores-superficie;
        border-radius: 20px;
        }

        h2 
        {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        color: colores.$colores-texto;
        }

        p 
        {
        margin: 1rem 0 0;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid colores.$colores-borde;
        }

    }

    .cerdo
    {
        grid-area: cerdo;
        padding: 0 1rem;

        .textos 
        {
        max-width: 800px;
        margin: 0 auto;
        padding: 1.5rem;
        background-color: colores.$colores-superficie;
        border-radius: 20px;
        }

        h2 
        {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        color: colores.$colores-texto;
        }

        p 
        {
        margin: 1rem 0 0;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid colores.$colores-borde;
        }
    }
    .pollo
    {
        grid-area: pollo;
        padding: 0 1rem;

        .textos 
        {
        max-width: 800px;
        margin: 0 auto;
        padding: 1.5rem;
        background-color: colores.$colores-superficie;
        border-radius: 20px;
        }

        h2 
        {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        color: colores.$colores-texto;
        }

        p 
        {
        margin: 1rem 0 0;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid colores.$colores-borde;
        }
    }
    .vinculos-style
    {
        text-decoration: none;
        color: inherit;
    }

}

.main-pag
{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "descripcion cards";
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    background-color: colores.$colores-superficie;   

    .main-descripcion 
    {

    }
    .main-cards
    {

    }
}
    